### Importación de datos

In [2]:
import pandas as pd

url = "base-de-datos-challenge1-latam/tienda_1 .csv"
url2 = "base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 0. Caracterización de los datos inicial

Cantidad de datos, las filas representan compras y las columnas informacion por cada compra

In [3]:
print(f"Filas por tienda: \nTienda 1: {tienda.shape[0]}\nTienda 2: {tienda2.shape[0]}\nTienda 3: {tienda3.shape[0]}\nTienda 4: {tienda4.shape[0]}")
print("-"*20)
print(f"Columnas por tienda: \nTienda 1: {tienda.shape[1]}\nTienda 2: {tienda2.shape[1]}\nTienda 3: {tienda3.shape[1]}\nTienda 4: {tienda4.shape[1]}")

Filas por tienda:
Tienda 1: 2359
Tienda 2: 2359
Tienda 3: 2359
Tienda 4: 2358
--------------------
Columnas por tienda:
Tienda 1: 12
Tienda 2: 12
Tienda 3: 12
Tienda 4: 12

Todas las tiendas tienen las mismas columnas?

In [4]:
def eq_lists(l1: list[str] = [], l2: list[str] = []) -> bool:
    """
    Compara dos listas de strings para verificar si son iguales.

    Args:
        l1 (list[str]): Primera lista de strings a comparar
        l2 (list[str]): Segunda lista de strings a comparar

    Returns:
        bool: True si las listas son iguales en longitud y contenido,
              False si las listas tienen diferente longitud, están vacías,
              o tienen elementos diferentes
    """
    if (len(l1) != len(l2)) or len(l1) == 0 or len(l2) == 0:
        return False
    for i in range(len(l1)):
        if l1[i] != l2[i]:
            return False
    return True
    
# Lista con las columnas de cada tienda
cols = [tienda.columns, tienda2.columns, tienda3.columns, tienda4.columns]

# Bandera para detectar diferencias
diff_flag = 0

# Compara las columnas de cada tienda con la siguiente
for i in range(len(cols)-1):
    if not eq_lists(cols[i], cols[i+1]):
        diff_flag = 1
        print("No son iguales las columnas de las 4 tiendas.")

# Si no se encontraron diferencias, todas las tiendas tienen las mismas columnas        
if diff_flag == 0: 
    print("Las 4 tiendas tienen las mismas columnas")

Las 4 tiendas tienen las mismas columnas

Esto es importante ya que nos permite afirmar que la descripcion y entendimiento de las variables de una tienda aplica para todas las demas, es por esto que ahora nos enfocaremos en solo 1 tienda.

In [5]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

Variables categoricas con menos de 10 valores unicos

In [40]:
for columna in tienda.columns:
    if tienda[columna].nunique() < 10:
        print(columna)
        lista_categorias = tienda[columna].unique()
        lista_categorias.sort()
        for elemento in lista_categorias:
            print("\t",elemento)

Categoría del Producto
	 Artículos para el hogar
	 Deportes y diversión
	 Electrodomésticos
	 Electrónicos
	 Instrumentos musicales
	 Juguetes
	 Libros
	 Muebles
Calificación
	 1
	 2
	 3
	 4
	 5
Método de pago
	 Cupón
	 Nequi
	 Tarjeta de crédito
	 Tarjeta de débito

Descripción general de todas las columnas numericas y categoricas

In [7]:
tienda.describe(include='all')

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
count,2359,2359,2.359000e+03,2359.000000,2359,2359,2359,2359.000000,2359,2359.000000,2359.000000,2359.000000
unique,51,8,NaN,NaN,1018,14,19,NaN,4,NaN,NaN,NaN
top,Microondas,Muebles,NaN,NaN,15/05/2021,Izabela de León,Bogotá,NaN,Tarjeta de crédito,NaN,NaN,NaN
freq,60,465,NaN,NaN,7,197,984,NaN,1704,NaN,NaN,NaN
mean,NaN,NaN,4.878679e+05,26018.609580,NaN,NaN,NaN,3.976685,NaN,2.943196,5.365283,-74.789417
std,NaN,NaN,6.146868e+05,32860.001783,NaN,NaN,NaN,1.415370,NaN,2.819897,2.287445,1.217827
min,NaN,NaN,7.600000e+03,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,-4.215280,-77.281110
25%,NaN,NaN,5.575000e+04,3100.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,4.609710,-75.563590
50%,NaN,NaN,2.353000e+05,12400.000000,NaN,NaN,NaN,5.000000,NaN,1.000000,4.609710,-74.199040
75%,NaN,NaN,6.781000e+05,36000.000000,NaN,NaN,NaN,5.000000,NaN,4.000000,6.251840,-74.081750
max,NaN,NaN,2.977000e+06,160800.000000,NaN,NaN,NaN,5.000000,NaN,24.000000,11.544440,-67.923900

# 1. Análisis de facturación

Calcular el total vendido por cada tienda

In [46]:
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
cont = 1
ventas = []
for tienda_n in lista_tiendas:
    ventas.append(tienda_n['Precio'].sum())
    print(f"Ventas totales de la tienda {cont} -> ${ventas[cont-1]:,.2f}")
    cont = cont + 1

Ventas totales de la tienda 1 -> $1,150,880,400.00
Ventas totales de la tienda 2 -> $1,116,343,500.00
Ventas totales de la tienda 3 -> $1,098,019,600.00
Ventas totales de la tienda 4 -> $1,038,375,700.00

# 2. Ventas por categoría

Cantidad de productos vendidos por categoria en cada tienda

In [61]:
df_topcategorias = pd.DataFrame()
count = 1
for tienda_n in lista_tiendas:
    df_topcategorias[f'Tienda {count}'] = tienda_n.groupby('Categoría del Producto')['Categoría del Producto'].count().sort_values(ascending=False).index
    df_topcategorias[f'Ventas {count}'] = tienda_n.groupby('Categoría del Producto')['Categoría del Producto'].count().sort_values(ascending=False).values
    count += 1
df_topcategorias.head(8)

,Tienda 1,Ventas 1,Tienda 2,Ventas 2,Tienda 3,Ventas 3,Tienda 4,Ventas 4
0,Muebles,465,Muebles,442,Muebles,499,Muebles,480
1,Electrónicos,448,Electrónicos,422,Electrónicos,451,Electrónicos,451
2,Juguetes,324,Juguetes,313,Juguetes,315,Juguetes,338
3,Electrodomésticos,312,Electrodomésticos,305,Electrodomésticos,278,Deportes y diversión,277
4,Deportes y diversión,284,Deportes y diversión,275,Deportes y diversión,277,Electrodomésticos,254
5,Instrumentos musicales,182,Instrumentos musicales,224,Libros,185,Artículos para el hogar,201
6,Libros,173,Libros,197,Artículos para el hogar,177,Libros,187
7,Artículos para el hogar,171,Artículos para el hogar,181,Instrumentos musicales,177,Instrumentos musicales,170

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda